<!DOCTYPE html>
<html>
<head>
	<title>Interstellar</title>
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin.css') }}">
	<script src="https://kit.fontawesome.com/22f5ccdbef.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{{ url_for('admin.static', filename='javascript/admin.js')}}"></script>
</head>
<body>
{% include 'navbar.html' %}
<div class="pageblock"></div>
<div style="width: 1260px; margin: auto;">
{% include 'flash_notifs.html' %}  
    <div style="width: 805px;" class=" storylet-column game boxshadow">
        <a href="{{ url_for('admin.edit_storylet') }}" class="adm-btn-link"><div class="adm-btn">Create New Storylet</div></a>
        <a href="#" class="adm-btn-link"><div class="adm-btn">My Storylets</div></a>
        <h2 style="margin-bottom: 40px;">Storylet Database</h2>
        <div id="all-storylets-panel">
            {% for tag in tags %}
            <button class="no-brdr storylet-tag"><h2>{{tag.name}}</h2></button>
            <div class="storylet-tag-lst">
                {% for storylet in tag.q_list %}
                    <div>
                        <a class= "storylet" style="grid-template-columns: 80px 695px;" href="{{ url_for('admin.edit-storylet', id=storylet.id) }}">
                            <div class="recent-left">
                                <div class="recent-image-cont">
                                    <center><img style="width: 55px;" class="digitaleffect" src="{{ url_for('static', filename='images/' + storylet.image) }}" width="80px"></center>
                                </div>
                            </div>
                            <div class="recent-right" >
                                <p style="float: right; margin-right: 10px;"><bold><em>Id: {{ storylet.id }}</em></bold></p>
                                <p class="long-text"><bold>{{ storylet.title }}</bold></p>
                                <p class="long-text" style="font-size: 10px;"><em>Created by {{ storylet.author.username }}</em></p>
                                <hr class="recent-divider">
                                <p class="long-text" style="width: 670; font-size: 12px; font-style: italic;">"{{ storylet.description }}"</p>
                            </div>
                        </a> 
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="margin-left: 20px; width: 355px;" class="storylet-column game boxshadow">
        <h2 style="margin-bottom: 8px">Recent Edits</h2>
        {% for storylet in recents %}
        <div id="recent-storylet-panel">
            <a class= "storylet" href="{{ url_for('admin.edit_storylet', id=storylet.id) }}">
            <div class="recent-left">
                <div class="recent-image-cont">
                    <center><img style="width: 55px;" class="digitaleffect" src="{{ url_for('static', filename='images/' + storylet.image) }}" width="80px"></center>
                </div>
            </div>
            <div class="recent-right">
                <p class="recent-text"><bold>{{ storylet.title }}</bold></p>
                <p class="recent-text" style="font-size: 10px;"><em>edited by {{ storylet.author.username }}</em></p>
                <p class="recent-text" style="font-size: 10px;"><em>{{ storylet.last_edit.strftime("%b %d, %Y %I:%M %p UTC") }}</em></p>
                <hr class="recent-divider">
                <p class="recent-description">"{{ storylet.description }}"</p>
            </div>
            </a> 
        </div>
        {% endfor %}
    </div>   
</div>
<script>
    var acc = document.getElementsByClassName("storylet-tag");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>
</body>
</html>
