<!DOCTYPE html>
<html>
<head>
	<title>Interstellar</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="pageblock"></div>
    <div class="wrapper">
        <div>
            <div id="title-bar" class="boxshadow">
                <h1 class="title">INTERSTELLAR</h1>
            </div>
        </div>
          <div>
            <div id="location-bar" class="boxshadow">
                <h1 class="location">Register</h1>
            </div>
        </div>
        <div id="left_side"></div>
        <div id="story" class="boxshadow game">
            <div style="display: flex;">
                <div style="margin-right: 40px;">
                    <h2>Interstellar</h2>
                    <p style="text-align: justify;">Over a thousand years in the future, the United Alliance of Earth harbors dark secrets as it fights for control of the solar system against a race of humanoid aliens. Explore the solar system, work with whoever you'd like and make a name for yourself in this expansive science fiction world.</p>
                </div>
                <div class="login-box">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}<br>
                            {% for error in form.username.errors %}
                            <span style="color: white;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p style="margin-top: 10px">
                            {{ form.email.label }}<br>
                            {{ form.email(size=32) }}<br>
                            {% for error in form.email.errors %}
                            <span style="color: white;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p style="margin-top: 10px">
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}<br>
                            {% for error in form.password.errors %}
                            <span style="color: white;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p style="margin-top: 10px">
                            {{ form.password2.label }}<br>
                            {{ form.password2(size=32) }}<br>
                            {% for error in form.password2.errors %}
                            <span style="color: white;">[{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p style="margin-top: 10px">{{ form.submit() }}</p>
                </div>
            </div>
            <hr class="branch-divider">
            <div class="branch-footer">
                <p>Created by: Alex L. Dylan Y. and Wes L.</p>
            </div>
        </div>
    </div>
</body>
</html>