<div>
    <div class="main-header">
        <h2>Your hand. Click a deck to refill it.</h2>
    </div>
    <div style="display: flex;">
        <div id="card" class="boxshadow tooltip" style="margin-right: 20px" onclick="cardDraw()">
            <img src= "{{ url_for('static', filename='images/' + 'leaf.png') }}" class ="digitaleffect">
            <div style="position: relative; margin-top: 14px; text-align: center; font-weight: bold;">Exploration</div>
            <span>Exploration</span>
        </div>
        <div class="deck-container"> 
            <div id="card-1">
                <div id="slot-1" class="card-slot"></div>
            </div>
            <div id="card-2">
                <div id="slot-2" class="card-slot"></div>
            </div>
            <div id="card-3">
                <div id="slot-3" class="card-slot"></div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <h2>Your pinned cards. Click a card to play it.</h2>
    </div>
    <div class="pinned-container">
        {% for storylet in storylets %}
            {% include 'card.html' %}
        {% endfor %}
    </div>
</div>
<script>
    var tooltips = document.querySelectorAll('.tooltip span');

    $.ajax("{{ url_for('game.load_card') + '?slot=1'}}", async=false).done(function (reply) {
				$('#card-1').html(reply);
		}).done(function () {
			$.ajax("{{ url_for('game.load_card') + '?slot=2'}}", async=false).done(function (reply) {
				$('#card-2').html(reply);
		}).done(function (){
			$.ajax("{{ url_for('game.load_card') + '?slot=3'}}", async=false).done(function (reply) {
				$('#card-3').html(reply);
		})})});
</script>