<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body onload="returnToHome()">
{% include 'navbar.html' %}
<div class="pageblock"></div>
<div id="flash-container" style="width: 960px; margin: auto;">
	{% include 'flash_notifs.html' %}
</div>
<div class="wrapper">
	<div>
		<div id="title-bar" class="boxshadow">
			<h1 class="title">INTERSTELLAR</h1>
		</div>
	</div>
  	<div>
		<div id="location-bar" class="boxshadow">
			<h1 class="location">Location</h1>
		</div>
	</div>
  	<div id="left_side">
		<div id="sidebar" class= "boxshadow game">
			<p>Content goes here.</p>
		</div>
		<div id="sidebar2" class= "boxshadow game">
			<p>Content goes here.</p>
		</div>
		<div id="sidebar" class= "boxshadow game">
			<p>Content goes here.</p>
		</div>
	</div>
  <div>
		<div id="story" class= "boxshadow game">
		</div>
</div>
</body>
<script>
	function callStorylet(num) {
		id = String(num);
		$.ajax("{{ url_for('game.storylet') + '?id=' }}" + id).done(function (reply) {
				$('#story').html(reply);
			}); 
	};
	function callResult(num) {
		id = String(num);
		$.ajax("{{ url_for('game.results') + '?id=' }}" + id).done(function (reply) {
				$('#story').html(reply);
			}); 
	};
	function returnToHome() {
		$.ajax("{{ url_for('game.game') }}").done(function (reply) {
				$('#story').html(reply);
			});
	};
	function cardDraw() {
			$.ajax("{{ url_for('game.draw') + '?slot=1'}}", async=false).done(function (reply) {
				$('#card-1').html(reply);
		}).done(function () {
			$.ajax("{{ url_for('game.draw') + '?slot=2'}}", async=false).done(function (reply) {
				$('#card-2').html(reply);
		}).done(function (){
			$.ajax("{{ url_for('game.draw') + '?slot=3'}}", async=false).done(function (reply) {
				$('#card-3').html(reply);
		})})});
	};

</script>
</html>
